#aboutContainer {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

#about {
  font-family: "Raleway", "Helvetica", sans-serif;
  display: flex;
  width: 55%;
  margin: auto;
  justify-content: space-between;
}

#me {
  /* max-width: 25%; */
  text-align: left;
  display: inline-block;
  font-size: 20px;
  margin: 5% 5% 10% 0;
}

#me img {
  width: 100%;
  height: auto;
  box-shadow: 20px 20px #004b4f;
}

.col {
  width: 46%;
}

.aboutHeader {
  margin-top: 100px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
}

.aboutBlueBox {
  text-align: left;
  padding: 20px;
  border: 2px solid #0e4c87;
}

.aboutBlueBox a {
  color: #000;
}

.aboutBlueBox a:hover {
  color: #7395a0;
  transition: 0.5s color;
}

#email {
  font-family: Poppins, Raleway, Helvetica, sans-serif;
}

#email:hover {
  color: #7395a0;
  transition: 0.5s color;
}

#icons {
  padding-top: 5%;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

#icons img {
  width: 2rem;
  height: auto;
}

@media only screen and (max-width: 1075px) {
  #me {
    max-width: 90%;
    margin: 5%;
  }
  #aboutHeader {
    max-width: 90%;
    margin: 5%;
  }
  #aboutContainer {
    width: 100%;
  }
}

@media (max-width: 600px) {
  #icons {
    width: 100%;
    margin: 5% 0px;
  }
}
