:root {
    --stone-blue: #7395a0;
}

body {
    font-family: Raleway, Helvetica, Arial, sans-serif;
}

p {
    font-family: Poppins;
}

p a {
    color: #000;
}

p a:hover {
    color: #7395a0;
    transition: .5s color;
}


/*https://pythonhow.com/add-css-to-flask-website/*/

.topnav {
    overflow: hidden;
    width: 90%;
    margin: auto;
    padding-top: 1%;
    text-decoration: none;
    border-bottom: 2px solid #444;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Poppins;
    font-size: 17px;
    color: #444;
}


/* Change the color of links on hover */

.topnav a:hover {
    color: var(--stone-blue);
    transition: .5s color;
}


/* Right-aligned section inside the top navigation */

.topnav-right {
    float: right;
}

.header {
    font-family: Raleway;
    width: 90%;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
}

hr {
    height: 2px;
    background-color: grey;
    color: grey;
    border-width: 0;
}

.icon-wrapper {
    display: inline-flex;
    justify-content: right;
}

#icon-group img {
    float: right;
    width: 1.5rem;
    height: auto;
    padding: 10px;
}

#proj-wrapper {
    width: 90%;
    margin: auto;
}


/*Posters and art*/

.proj-row {
    display: flex;
    flex-wrap: wrap;
}


/* Create four equal columns that sits next to each other */

.proj-column {
    flex: 33%;
    max-width: 50%;
    padding: 5%;
    margin: auto;
}

@media only screen and (max-width: 1075px) {
    .proj-column {
        flex: 100%;
        max-width: 100%;
    }
    #proj-wrapper {
        display: block;
        width: 100%;
        position: relative;
        margin: auto;
    }
    #project img {
        width: 100%;
        height: auto;
        margin: auto;
    }
}

.proj-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.proj-text {
    font-family: Raleway;
    font-size: 25px;
    font-weight: bold;
}

.proj-categories {
    font-family: Poppins, Raleway;
    font-size: 15px;
}

#proj1-img {
    display: block;
    width: 100%;
    height: auto;
}

#footer {
    font-family: Poppins;
    padding-left: 5%;
    padding-right: 5%;
}

#footer p {
    float: left;
}

.project img:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.caption {
    font-size: 14px;
    font-style: italic;
}
